body {
    background-color: white;
    color: black;
}

p {
    color: black;
}

h1 {
  color: black;
}

.blocktop {
  height: 300px;
  width: auto;
}

.social-btn__twitter {


}

.mdl-cell--4-col
{


}
.cust-layout-transparent .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
    padding-right: 0;
}

.cust-layout-transparent {
    background: url('../img/viewbg.jpeg') center / cover;
}


.mdl-layout__header-row{
    color:black;
}

.mdl-navigation__link{
    color:black;
}
.mdl-layout__header-row .mdl-navigation__link {
    display: block;
    color: black !important;
    line-height: 64px;
    padding: 0 24px;
}

.mdl-layout__drawer-button {
    color: black !important;

}

.mdl-card {
    width:400px !important;
    /*display: inline-block;*/
    margin-left: auto;
}